.noteCard{
    background-color: #e78267 ;
    border: 1px solid black;
    width: 330px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    margin: 20px;



}

