.form{
    margin: 40px;
    //border: 3px gray solid;
    width: 309px;
    box-shadow: 0 0 0 3px #e78267;
  

    &__input{
        width: 250px;
        font-size: 15px;
        padding: 10px;
    }

    &__button{
        font-size: 15px;
        padding: 10px;
    }
}